@use "../tools" as t;

.b-btn-list {
  display: grid;
  gap: 16px;

  @include t.breakpoint(s) {
    & {
      grid-auto-flow: column;
    }
  }

  @include t.breakpoint(m) {
    & {
      justify-content: start;
    }
  }
}
