@use "../tools" as t;

.b-btn-icon {
  background-color: #fff;
  position: relative;

  &__txt {
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}