@use "../tools/index" as t;

.b-contact-form {
  text-align: center;
  max-inline-size: 311px;
  display: grid;
  grid-template-rows: auto auto 32px auto;
  grid-template-areas:
    "f-info"
    "f-headline"
    "..."
    "f-content";

  &__info {
    grid-area: f-info;
    font-weight: 500;
    font-size: 13px;
    line-height: 3.08;
    letter-spacing: 0.38em;
    color: #fff;
  }

  &__headline {
    grid-area: f-headline;

    color: #fff;
    line-height: 1.25;
  }

  &__content {
    grid-area: f-content;
    display: grid;
    align-items: start;
    gap: 16px;
  }

  @include t.breakpoint(m) {
    & {
      max-inline-size: 450px;
    }

    &__content {
      grid-auto-flow: column;
      grid-template-columns: minmax(0, 1fr) 130px;
    }
  }
}
