.b-form-row {
  display: grid;
  grid-template-rows: 48px 22px;
  grid-template-columns: 80% 20%;
  opacity: 0.99;

  &__input {
    margin: 2px;
    grid-column: 1 / -1;
    grid-row: 1 / span 1;
    padding: 12px 70px 12px 20px;
    border-radius: 5px;
    background-color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #242a45;
  }



  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.02em;
    color: rgba(36, 42, 69, 0.25);
  }

  &__label {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    justify-self: center;
    align-self: center;
    font-size: 1px;
  }

  &__invalid-icon {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    background-color: #8c0e0e;
    border-radius: 100%;
    inline-size: 20px;
    aspect-ratio: 1;
    justify-self: center;
    align-self: center;
  }

  &__error-message {
    grid-column: 1 / -1;
    grid-row: 1 / span 2;
    z-index: -1;
    display: grid;
    align-items: end;
    border-radius: 5px;
    background-color: #8c0e0e;
    padding: 0 0 4px 12px;
    font-style: italic;
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 0.03em;
    color: #fff;
    text-align: left;
  }

  &__invalid-icon,
  &__error-message {
    display: none;
  }

  &__input:user-invalid ~ &__invalid-icon {
    display: grid;
  }

  &__input:user-invalid ~ &__error-message {
    display: grid;
  }
}
