.b-link {
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.31;
  color: #242a45;
  text-transform: uppercase;
  block-size: 100%;
  display: grid;
  place-items: center;

  &--light {
    color: #fff;
  }

  @media (hover: hover) {
    &:hover {
      color: #fa5959;
    }
  }
}
