@use "../tools" as t;

.b-nav-list {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 48px;

  &__link {
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.31;
    color: #242a45;
    text-transform: uppercase;
  }

  &--dark &__link {
    color: #fff;
  }

  @media (hover: hover) {
    &__link:hover {
      color: #fa5959;
    }
  }
}
