@use "../tools" as t;

.b-nav-item {
  block-size: 100%;
  display: grid;
  place-items: center;
  font-weight: 400;
  font-size: 13px;
  color: #242a45;
  cursor: pointer;
  text-transform: uppercase;

  @media (hover: hover) {
    &:hover {
      color: #8c0e0e;;
    }
  }

  @media (hover: none) {
    &:active {
      color: #8c0e0e;;
    }
  }

  &--white {
    color: #fff;
  }
}