@use "../tools" as t;

.b-tab {
  text-align: center;
  color: #242a45;
  display: grid;
  grid-template-areas:
    "t-illustration"
    "t-content";
  align-items: center;

  &__illustration {
    grid-area: t-illustration;
    margin-inline-end: var(--offset);
  }

  &__content {
    grid-area: t-content;
    margin-inline: var(--offset);
  }

  @include t.breakpoint(m) {
    & {
      grid-template-areas: "t-illustration t-content";
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
      column-gap: 24px;
      row-gap: 0;
    }

    &__illustration {
      margin-inline-end: 0;
    }
  }
}
