@use "../tools/index" as t;

.b-tabs-nav-item {
  align-items: center;
  padding-block-start: 4px;
  display: grid;
  grid-template-rows: minmax(0, 1fr) 4px;
  background-color: inherit;

  &::after {
    content: "";
    block-size: 100%;
    background: linear-gradient(#8c0e0e, #8c0e0e);
    background-repeat: no-repeat;
    background-size: 0 100%;
    background-position: center bottom;
    transition: background-size 300ms;
  }

  &[active]::after {
    background-size: 100% 100%;
  }
}
