@use "../tools" as t;

.b-tab-content {
  display: grid;
  grid-template-rows: auto 0 auto 16px auto;
  grid-template-areas:
    "headline"
    "..."
    "description"
    "..."
    "link";
  justify-items: center;
  align-content: center;
  text-align: center;
  color: #242a45;

  &__headline {
    grid-area: headline;
    line-height: 2.17;

  }

  &__description {
    grid-area: description;
    line-height: 1.67;
    max-inline-size: 40ch;
  }

  &__link {
    grid-area: link;
    inline-size: 114px;
  }

  @include t.breakpoint(m) {
    & {
      justify-items: start;
      text-align: left;
    }
  }
}
