@use "../tools" as t;

.b-widget {
  color: #242a45;
  text-align: left;

  & > summary {
    padding: 16px 0;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.78;
    cursor: pointer;
  }

  & > summary::marker {
    content: "";
  }

  & > summary::after {
    content: "";
    mask-image: url('data:image/svg+xml,<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 13"><path d="m2 2 8 8 8-8" stroke="%235267DF" stroke-width="3"/></svg>');
    mask-repeat: no-repeat;
    mask-position: center;
    display: block;
    inline-size: 20px;
    block-size: 13px;
    background-color: #5267df;
    margin-inline-start: 20px;
  }

  &[open] > summary::after {
    background-color: #fa5959;
  }

  & > p {
    padding-block-start: 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 2.25;
    letter-spacing: 0.01em;
    opacity: 0.75;
    text-align: left;
  }

  @media (prefers-reduced-motion: no-preference) {
    &[open] > summary::after {
      transform: rotate(180deg);
      transition: transform 0.3s;
    }
  }

  @media (hover: hover) {
    & > summary:hover {
      color: #fa5959;
    }
  }
}
