@use "../tools" as t;

:root {
  --offset: 20px;

  @include t.breakpoint(xs) {
    --offset: 32px;
  }

  @include t.breakpoint(s) {
    --offset: 56px;
  }

  @include t.breakpoint(m) {
    --offset: 86px;
  }

  @include t.breakpoint(l) {
    --offset: 114px;
  }

  @include t.breakpoint(xl) {
    --offset: 164px;
  }
}

body * {
  font-family: "Rubik", sans-serif;
}

img {
  max-inline-size: 100%;
  vertical-align: bottom;
}

a,
button {
  cursor: pointer;
}

dialog {
  min-width: 100%;
  max-height: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
