@use "../tools/" as t;

h1 {
  font-size: clamp(
    t.rem(26),
    1.2321428571428572rem + 1.9642857142857142vw,
    t.rem(48)
  );
  font-weight: 500;
}

//fix
h2 {
  font-size: clamp(
    t.rem(24),
    1.3571428571428572rem + 0.7142857142857143vw,
    t.rem(32)
  );
  font-weight: 500;
}

// fix
h3 {
  font-weight: 500;
  font-size: 20px;
}

p {
  font-size: clamp(
    t.rem(14),
    0.8035714285714286rem + 0.35714285714285715vw,
    t.rem(18)
  );
  font-weight: 400;
}
