@use "../tools/" as t;

h1 {
  font-size: clamp(
    t.rem(26),
    1.2321428571428572rem + 1.9642857142857142vw,
    t.rem(48)
  );
  font-weight: 500;
}

h2 {
  font-size: clamp(
    t.rem(20),
    1.0357142857142856rem + 1.0714285714285714vw,
    t.rem(32)
  );
  font-weight: 500;
}

h3 {
  font-size: clamp(
    t.rem(20),
    1.0357142857142856rem + 1.0714285714285714vw,
    t.rem(32)
  );
  font-weight: 500;
}

p {
  font-size: clamp(
    t.rem(14),
    0.8035714285714286rem + 0.35714285714285715vw,
    t.rem(18)
  );
  font-weight: 400;
}
