@use "../tools" as t;

.l-grid-three-row {
  display: grid;
  grid-template-rows: auto 16px auto 32px auto;
  align-content: center;
  justify-items: center;
  text-align: center;
  margin-inline: var(--offset);

  &__headline {
    grid-row: 1;
  }

  &__description {
    grid-row: 3;
    max-inline-size: 48ch;
  }

  &__content {
    grid-row: 5;
    display: grid;
    justify-items: center;
    gap: 48px;
  }

  @include t.breakpoint(s) {
    & {
      grid-template-rows: auto 24px auto 40px auto;
    }
  }
}
