@use "../tools" as t;

.l-header {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 48px;
  align-items: center;
  justify-content: space-between;

  &__nav {
    display: none;
  }

  @include t.breakpoint(m) {
    &__nav {
      display: block;
    }

    &__menu {
      display: none;
    }
  }
}