@use "../tools" as t;

.l-hero {
  display: grid;
  grid-template-areas:
    "h-illustration"
    "h-content";
  row-gap: 48px;
  align-items: center;

  &__illustration {
    grid-area: h-illustration;
    background-position: center right;
    margin-inline-start: var(--offset);
  }

  &__content {
    grid-area: h-content;
    justify-self: center;
    text-align: center;
    margin-inline: var(--offset);
  }

  @include t.breakpoint(m) {
    & {
      grid-template-areas: "h-content h-illustration";
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
      column-gap: 24px;
      row-gap: 0;
    }

    &__illustration {
      margin-inline-start: 0;
    }

    &__content {
      margin-inline: var(--offset) 0;
      text-align: left;
    }
  }

  @include t.breakpoint(l) {
    & {
      column-gap: 48px;
    }
  }

  @include t.breakpoint(xl) {
    & {
      column-gap: 64px;
    }
  }
}
