@use "../tools/index" as t;

.l-list-with-dividers {
  display: grid;
  grid-template-columns: minmax(100%, 540px);
  gap: 1px;
  border-top: 1px solid rgba(36, 42, 69, 0.15);
  border-bottom: 1px solid rgba(36, 42, 69, 0.15);
  background-color: rgba(36, 42, 69, 0.15);

  & > li {
    background-color: #fff;
    display: grid;
    align-items: center;
  }

  &--dark {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    background-color: rgba(255, 255, 255, 0.15);
  }

  &--dark > li {
    background-color: rgba(36, 42, 69, 0.95);
  }
}