@use "../tools" as t;

.l-section {
  display: grid;
  gap: 40px;

  & > header {
    margin-inline: var(--offset);
    text-align: center;
    color: #242a45;
    display: grid;
    justify-content: center;
  }

  &__headline {
    line-height: 2.17;
  }

  &__description {
    line-height: 1.67;
    max-inline-size: 48ch;
  }
}