@use "../tools" as t;

.l-tabs {
  display: grid;
  gap: 48px;

  & > nav {
    display: grid;
    justify-self: center;
    grid-template-columns: minmax(0, 730px);
    margin-inline: var(--offset);
  }

  &__nav-list {
    padding-block: 1px;
    display: grid;
    gap: 1px;
    grid-auto-rows: 56px;
    background-color: rgba(73, 93, 207, 0.2);
  }

  &__nav-list > li {
    display: grid;
    background-color: #fff;
  }

  @include t.breakpoint(s) {
    &__nav-list {
      grid-auto-flow: column;
      grid-auto-columns: minmax(0, 1fr);
      gap: 0;
      padding-block-start: 0;
    }
  }
}
